<%- include("../header.ejs") %>
</head>
<body>
<!--    <div class="container-fluid">-->
<!--        <div class="container mt-3 mb-3">-->
<!--            <img src="/images/wedding/logo.svg" style="cursor: pointer" onclick="javascript:location.href='/'">-->
<!--            <span class="noto-sans-700 ml-5" style="cursor: pointer;" onclick="javascript:location.href='/marketing/pc/company'">COMPANY</span>-->
<!--            <span class="noto-sans-700 ml-5" style="cursor: pointer;" onclick="javascript:location.href='/marketing/pc/sd'">SD:셀딩</span>-->
<!--            <span class="noto-sans-700 ml-5" style="cursor: pointer;" onclick="javascript:location.href='/marketing/pc/live'">LIVE</span>-->
<!--            <span class="noto-sans-700 ml-5" style="cursor: pointer;" onclick="javascript:location.href='/marketing/pc/cs'">CS</span>-->
<!--        </div>-->
<!--    </div>-->

    <div class="container-fluid p-0">
<!--        onclick="javascript:location.href='/marketing/pc/sd'-->
        <img src="/images/wedding/sonstagram_1.png" style="width:100%;" />
        <img src="/images/wedding/sonstagram_2.png" style="width:100%;" />
        <img src="/images/wedding/sonstagram_3.png" style="width:100%;" />
        <img src="/images/wedding/sonstagram_4.png" style="width:100%;" />
        <img src="/images/wedding/sonstagram_5.png" style="width:100%;" />
<!--        <img src="/images/wedding/haroohome-main03.png" style="width:100%;" />-->
<!--        <img src="/images/wedding/haroohome-main04.png" style="width:100%;" />-->
<!--        <img src="/images/wedding/haroohome-footer.png" style="width:100%;" />-->
    </div>

</body>
</html>
