<%- include("../header.ejs") %>



<script>
    let menu = true;

    const openMenu = () => {
        if(menu === true) {
            menu = false;
            $(".menu").hide()
            $(".close").show()
            $(".black-cutton").show()
        } else {
            menu = true;
            $(".menu").show()
            $(".close").hide()
            $(".black-cutton").hide()
        }
    }
</script>
<style>
    .black-cutton {
        width: 100%;
        height: 100%;
        z-index: 500;
        background-color: rgba( 0, 0, 0, 0.4 );
        position: fixed;
        top: 0;
        left: 0;
        display: none;
    }

    .navigation {
        position: fixed;
        top: 0;
        left: 0;
    }
</style>

</head>


<body>
<!--<div class="container-fluid p-0 navigation">-->
<!--    <div class="container mt-0 mb-0 pt-3 pb-3 bg-white">-->
<!--        <img src="/images/wedding/logo.svg" style="width: 100px;" onclick="javascript:location.href='/marketing/mobile/index'">-->
<!--        <img class="menu" src="/images/wedding-mobile/menu.svg" style="float:right; margin-top: 5px;" onclick="openMenu()">-->
<!--    </div>-->

<!--</div>-->
<div class="container-fluid p-0">
<!--    onclick="javascript:location.href='/marketing/mobile/sd'"-->
    <img src="/images/wedding-mobile/haroohome-x3-main.png" style="width:100%;" />
</div>

<!--<div class="black-cutton" >-->
<!--    <div class="container-fluid p-0 navigation">-->
<!--        <div class="container mt-0 mb-0 pt-3 pb-3 bg-white">-->
<!--            <img src="/images/wedding/logo.svg" style="width: 100px;" onclick="javascript:location.href='/marketing/mobile/index'">-->
<!--            <img class="close" src="/images/wedding-mobile/close.svg" style="float:right;  display: none; margin-top: 5px;" onclick="openMenu()">-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="container text-center noto-sans-700" style="color: #FFFFFF; font-size: 20px; padding-top: 150px;">-->
<!--        <div class="mt-5" style="display: flex; flex-direction: row;">-->
<!--            <div style="flex: 1;" onclick="javascript:location.href='/marketing/mobile/company'">COMPANY</div>-->
<!--            <div style="flex: 1;" onclick="javascript:location.href='/marketing/mobile/live'">LIVE</div>-->
<!--        </div>-->
<!--        <div class="mt-5" style="display: flex; flex-direction: row; ">-->
<!--            <div style="flex: 1;" onclick="javascript:location.href='/marketing/mobile/sd'">SD:셀딩</div>-->
<!--            <div style="flex: 1;" onclick="javascript:location.href='/marketing/mobile/cs'">CS</div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


</body>
</html>
