
<html>
<head>
    <script>
        if (window.screen.width >= 1024 ) {
            location.href='/marketing/pc/index'
        } else {
            location.href='/marketing/mobile/index'
        }
    </script>
</head>
<body></body>
</html>
