 <div class="invoice-wrap">
     <div class="invoice-search-wrap">
        <div class="invoice-search-in">
            <select class="invoice-search-name">
                <option>고객성함</option>
                <option>고객성함</option>
                <option>고객성함</option>
            </select>
            <div class="invoice-search-btn">
                <input type="text" class="invoice-search-ip">
                <button type="button" class="btn-iv-se"><img src="/images/channel-admin/icon-search.svg" alt="검색"></button>
            </div>
        </div>
    </div>
     <div class="invoice-customer-info">
         <div class="delivery-refund">
             <div class="refund-info">
                 <div class="refund-name">
                     <h3>집게사장</h3>
                     <p>상품 : 집게버거 스페셜</p>
                 </div>
                 <table class="table invoice-table">
                     <tbody>
                        <tr>
                            <th>고객성함</th>
                            <td>인풋만 지워도 괜찮네여</td>
                        </tr>
                        <tr>
                            <th>고객주소</th>
                            <td>asdsa</td>
                        </tr>
                        <tr style="border-bottom: 1px solid #dee2e6;">
                            <th>운송장 번호입력</th>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                     </tbody>
                 </table>
                 <div class="invoice-send-btn">
                     <button type="button">전송</button>
                 </div>
             </div>
         </div>
     </div>
 </div>