<footer class="footer">
    <h1 class="footer-logo">
        <img src="/images/footer/logo.svg">
    </h1>
    <ul class="footer-link">
        <li>
            <a href="javascript:void(0)">회사소개</a>
        </li>
        <li>
            <a href="javascript:void(0)">이용약관</a>
        </li>
        <li>
            <a href="javascript:void(0)">개인정보처리방침</a>
        </li>
    </ul>
    <address>
        주식회사 라이브팩토리   | 주소 : 경기도 파주시 경의로 1218, 406호<br>
        CEO 박진혜   | 사업자등록번호 662-86-02270  | 개인정보관리자 : 이구영<br>
        TEL 070-4158-2540    | E-MAIL 29077@hanmail.net<br>
        통신판매업신고번호 : 제2021-경기파주-2955호
    </address>
</footer>
<script src="/js/regexp.js"></script>
