<%- include("./home") %>
<script>
    $('.channel-lnb-tab2').addClass('channel-lnb-active')
</script>
<div class="channel-vod channel-common channel-lnb-tab2">
    <div class="channel-live-head">
        <h3>VOD 방송</h3>
        <div class="channel-live-topbar">
            <select id="vod-sort-type" class="channel-category">
                <option value="">장르 선택</option>
                <% for(let i=0; i<category.length; i++) { %>
                    <option value="<%= category[i].category_pk %>"><%= category[i].category_name%></option>
                <% } %>
            </select>
            <input id="vod-search-text" class="channel-search" type="text">
            <button id="vod-search-btn" class="channel-search-btn"></button>
        </div>
    </div>
    <div class="channel-live-banner">
        <% if(user.flag_pumkin === 0) { %>
            <img src="/images/channel/vod-banner.svg">
        <% } else { %>
            <img src="/images/pumkin/vod-banner.svg">
        <% } %>
    </div>
    <div class="m-channel-live-banner">
        <% if(user.flag_pumkin === 0) { %>
            <img src="/images/mobile/vod-banner.svg">
        <% } else { %>
            <img src="/images/pumkin/mobile/vod-banner.svg">
        <% } %>
    </div>
    <div class="channel-live-list">
        <h3>VOD 목록 👀</h3>
        <div class="live-list-wrap">
            <div id="vod-list"></div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<%- include("../include/common-footer") %>
</body>
</html>
<script>
    //검색 기능
    const vodSortType = document.getElementById('vod-sort-type')
    const vodSearchText = document.getElementById('vod-search-text')
    const vodSearchBtn = document.getElementById('vod-search-btn')
    const vodContents = document.getElementById('vod-list')
</script>
<script>
    // 현재 라이브 목록
    (getList)(1)

    function getList(page){
        if(isNaN(page)) page = 1
        const category_pk = vodSortType.options[vodSortType.selectedIndex].value
        const keyword = vodSearchText.value
        const url = '/home/vod/list?' + 'pageNo=' + page + '&keyword=' + keyword + '&category_pk=' + category_pk
        axios.get(url).then(function(res){
            vodContents.innerHTML = res.data
        }).catch(function(err){
            console.error(err)
        })
    }

    function enterSearch(){
        if(window.event.keyCode === 13){
            getList(1)
        }
    }
    vodSearchText.addEventListener('keydown',enterSearch)
    vodSearchBtn.addEventListener('click',getList)
    vodSortType.addEventListener('change',getList)
</script>