<%- include("../header.ejs") %>
</head>
<body>
    <div class="container-fluid">
        <div class="container mt-3 mb-3">
            <img src="/images/wedding/logo.svg" style="cursor: pointer" onclick="javascript:location.href='/'">
            <span class="noto-sans-700 ml-5" style="cursor: pointer;" onclick="javascript:location.href='/marketing/pc/company'">COMPANY</span>
            <span class="noto-sans-700 ml-5" style="cursor: pointer; color: #A349A4;" onclick="javascript:location.href='/marketing/pc/sd'">SD:셀딩</span>
            <span class="noto-sans-700 ml-5" style="cursor: pointer;" onclick="javascript:location.href='/marketing/pc/live'">LIVE</span>
            <span class="noto-sans-700 ml-5" style="cursor: pointer;" onclick="javascript:location.href='/marketing/pc/cs'">CS</span>
        </div>
    </div>

    <div class="container-fluid p-0">
        <img src="/images/wedding/sd01.png" style="width:100%;" />
        <img src="/images/wedding/sd02.png" style="width:100%;" />
        <img src="/images/wedding/sd03.png" style="width:100%;" />
        <img src="/images/wedding/sd04.png" style="width:100%;" />
        <img src="/images/wedding/sd05.png" style="width:100%;" />
        <img src="/images/wedding/sd06.png" style="width:100%;" />
        <img src="/images/wedding/sd07.png" style="width:100%;" />
        <img src="/images/wedding/sd08.png" style="width:100%;" />
    </div>

</body>
</html>