<%- include('./main') %>
            <div class="channel-picture visit-com-tab visit-lnb-tab1">
                <div id ="inquiry-list"></div>
                <div id="channel-live-list"></div>
            </div>
            <div class="channel-feed visit-com-tab visit-lnb-tab2" id="channel-feed-list">
            </div>
            <div class="channel-product visit-com-tab visit-lnb-tab3" id="channel-product-list">
            </div>
        </div>
    </div>
    </div>
    <%- include("../include/common-footer") %>
</body>

</html>
<script>
    const inquiryContents = document.getElementById('inquiry-list')
</script>
<script>
    (getList)(1)

    function getList(page){
        if((isNaN)(page)) page = 1
        const url = '/inquiry/<%= product_pk %>?' + 'pageNo=' + page
        axios.get(url).then(function(res){
            inquiryContents.innerHTML = res.data

            // 질문 클릭 시 답변 보여주기
            $(function() {
                $('.iq-question a').on('click',function() {
                    $(this).parent().siblings('.iq-reply').toggleClass('on-reply')
                })
            })
        }).catch(function(err){
            console.error(err)
        })
    }

</script>