<!--전체관리자 헤더-->
<div class="total-admin-mode">
    <div class="mode-top">
        <h2>관리자모드</h2>
        <a class="total-logout-btn" href="/auth/logout" >로그아웃</a>
    </div>
</div>
<div class="total-admin-lnb">
    <div class="mode-bottom">
        <ul class="total-lnbwrap">
            <li><a href="/total-admin/user">유저관리</a></li>
            <li><a href="/total-admin/factory">팩토리 계정</a></li>
            <li><a href="/total-admin/payment">결제내역</a></li>
            <li><a href="/total-admin/log">로그</a></li>
            <li><a href="/total-admin/coupon">쿠폰생성</a></li>
            <li><a href="/total-admin/category">카테고리 관리</a></li>
        </ul>
    </div>
</div>
